@using Microsoft.AspNetCore.Identity;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FrontEnd</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Login-registro.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FrontEnd.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="navbar">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between">
            <a class="d-flex align-items-center col-md-3 mb-md-0 text-dark text-decoration-none" asp-area="" asp-controller="Home" asp-action="Index">
                <div class="text-center navbar-brand p-2">
                    <h1>Piscinas</h1>
                </div>
            </a>

            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0 flex-grow-1">
                <li class="">
                    <a class="nav-link px-2 link-secondary text-white" asp-area="" asp-controller="Cliente" asp-action="Index">Clientes</a>
                </li>
                <li class="">
                    <a class="nav-link px-2 link-secondary text-white" asp-area="" asp-controller="Empleado" asp-action="Index">Empleados</a>
                </li>
                <li class="">
                    <a class="nav-link px-2 link-secondary text-white" asp-area="" asp-controller="Servicio" asp-action="Index">Servicios</a>
                </li>
                <li class="">
                    <a class="nav-link px-2 link-secondary text-white" asp-area="" asp-controller="Producto" asp-action="Index">Productos</a>
                </li>

                @if (User.IsInRole("Admin"))
                {
                    <li class="">
                        <a class="nav-link px-2 link-secondary text-white" asp-area="" asp-controller="Cliente" asp-action="Index">Clientes</a>
                    </li>
                    <li class="">
                        <a class="nav-link px-2 link-secondary text-white" asp-area="" asp-controller="Empleado" asp-action="Index">Empleados</a>
                    </li>
                    <li class="">
                        <a class="nav-link px-2 link-secondary text-white" asp-area="" asp-controller="Servicio" asp-action="Index">Servicios</a>
                    </li>
                }

                @if (User.IsInRole("Cliente") || User.IsInRole("Admin"))
                {
                    <li class="">
                        <a class="nav-link px-2 link-secondary text-white" asp-area="" asp-controller="Piscina" asp-action="Index">Piscinas</a>
                    </li>
                    <li class="">
                        <a class="nav-link px-2 link-secondary text-white" asp-area="" asp-controller="Producto" asp-action="Index">Productos</a>
                    </li>
                    <li class="">
                        <a class="nav-link px-2 link-secondary text-white" asp-area="" asp-controller="Auth" asp-action="Logout">Cerrar sesión</a>
                    </li>
                }


            </ul>
        </header>
    </div>
    <div class="container">
        <main role="main" class="pb-2">
            <div>
                @RenderBody()
            </div>
        </main>
    </div>

    <footer class="footer text-muted navbar">
        <div class="container text-center text-white py-3">
            &copy; 2024 - FrontEnd - Piscinas
            <a asp-area="" asp-controller="Home" asp-action="Preguntas" class="text-white mx-3">FAQ</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>