@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-5">
    <!-- Sección principal -->
    <div class="jumbotron text-center" style="background-color: darkcyan; color: white;">
        <h1 class="display-4">¡Nombre de la Empresa!</h1>
        <p class="lead">Bienvenido a Nombre de la Empresa, donde encuentras todo para tus piscinas</p>
        <hr class="my-4">
    </div>
    <div class="text-center">
        <p>Tu destino definitivo para todo lo relacionado con piscinas. Ofrecemos una amplia gama de piscinas, productos de calidad y servicios de mantenimiento para garantizar que tu experiencia acuática sea inolvidable.</p>
    </div>

    <!-- Imagen central -->
    <div class="text-center my-4">
        <img src="/NewFolder/R.jpeg" class="img-fluid" alt="Imagen de la piscina" style="max-height: 400px;">
    </div>

    <!-- Tarjetas de características -->
    <div class="row text-center" style="background-color: darkcyan; color: white; padding-right:2px;">
        <div class="col-md-6 mb-4">
            <div class="card h-100 border-0" style="background-color: inherit;">
                <div class="card-body">
                    <h5 class="card-title">Compra de productos de piscina</h5>
                    <p class="card-text">Ofrecemos una amplia gama de productos de alta calidad para tu piscina. Desde químicos seguros y efectivos hasta equipos de última generación.</p>
                    <a href="#" class="btn btn-light">Productos</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="card h-100 border-0" style="background-color: inherit; padding-left: 2px; ">
                <div class="card-body">
                    <h5 class="card-title">Servicios de mantenimiento de piscina</h5>
                    <p class="card-text">Tu tranquilidad es nuestra prioridad. Ofrecemos servicios expertos de mantenimiento y reparación para piscinas.</p>
                    <a href="#" class="btn btn-light">Servicios</a>
                </div>
            </div>
        </div>
    </div>
</div>




