<!-- Gallery -->
<div class="row">
  <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/3/3a/Piscinas_Geldo.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Boat on Calm Water"
    />

    <img
      src="https://image-tc.galaxy.tf/wijpeg-dyrkrvhyrk000y2hhjfz834ve/best-western-jaca-piscina-2300x1535_standard.jpg?crop=110%2C0%2C1780%2C1335"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Wintry Mountain Landscape"
    />
  </div>

  <div class="col-lg-4 mb-4 mb-lg-0">
    <img
      src="https://st3.idealista.com/news/archivos/styles/fullwidth_xl/public/2022-05/piscinazos.jpg?VersionId=weYoIVgFA3_yfpSzQbss4.44S5atDQPj&itok=-q2EzB40"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Mountains in the Clouds"
    />

    <img
      src="https://lh5.googleusercontent.com/proxy/odb81e4EH2kgWV07pUSz6cSYcSZtnfFBImigzoTpVst_MoXjrLuIx0d1G84EiE42t5enUDzfIal2UhGfCSPIGGM1oHt36pCrEVm3468SDi2BZg2P6y_C-4QEnc-55gNnn16T"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Boat on Calm Water"
    />
  </div>

  <div class="col-lg-4 mb-4 mb-lg-0">
    <img
      src="https://www.elmueble.com/medio/2022/07/20/porche-de-canizo-con-sofas-al-lado-de-una-piscina-00546518_92a7d570_1280x1920.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Waves at Sea"
    />

    <img
      src="https://www.waterair.com/wp-content/uploads/2021/10/fond-piscine-2.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Yosemite National Park"
    />
  </div>
</div>
<!-- Gallery -->