<!-- Gallery -->
<div class="row">
  <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
    <img
      src="https://www.tuandco.com/aprendeymejora/wp-content/uploads/2020/04/principal.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Boat on Calm Water"
    />

    <img
      src="https://delfiniapiscinas.com/wp-content/uploads/2014/11/mantenimiento-piscinas.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Wintry Mountain Landscape"
    />
  </div>

  <div class="col-lg-4 mb-4 mb-lg-0">
    <img
      src="https://laplacarota.com/wp-content/uploads/como-hacer-mantenimiento-piscinas-pasos-620x349.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Mountains in the Clouds"
    />

    <img
      src="https://piscimant.com/wp-content/uploads/2019/07/mantenimiento-1.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Boat on Calm Water"
    />
  </div>

  <div class="col-lg-4 mb-4 mb-lg-0">
    <img
      src="https://ap.nice-cdn.com/upload/image/banner/original/default/14558_72831f6e.png"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Waves at Sea"
    />

    <img
      src="https://mantenimientocostarica.com/wp-content/uploads/2023/12/productos-quimicos-para-piscina-1.webp"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Yosemite National Park"
    />
  </div>
</div>
<!-- Gallery -->


