<!-- Gallery -->
<div class="row">
  <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
    <img
      src="https://cubriland.com/wp-content/uploads/2021/04/mantenimiento-piscina-tareas-diarias.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Boat on Calm Water"
    />

    <img
      src="https://homebeach.cl/wp-content/uploads/2022/06/limpiar-piscina.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Wintry Mountain Landscape"
    />
  </div>

  <div class="col-lg-4 mb-4 mb-lg-0">
    <img
      src="https://somos.duoc.cl/wp-content/uploads/2022/10/piscinas-1200x675.png"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Mountains in the Clouds"
    />

    <img
      src="https://lh3.googleusercontent.com/proxy/MYvAvhKBL26M52xB483JX6kCJJATqzH-pUeXCar_UUCMOIy-miX8rt5KtHTS9mO9gBqoILBc9HbYnIxBpvITtIZj0dzJZ-nwRvg0JAB5-iRv6_ngtpVMQ_MuIdPA5pz3T-tR3inycX7p0ElyBPR54VEhexnfQ3n_"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Boat on Calm Water"
    />
  </div>

  <div class="col-lg-4 mb-4 mb-lg-0">
    <img
      src="https://okdiario.com/img/2018/04/03/mantenimiento-piscinas.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Waves at Sea"
    />

    <img
      src="https://i0.wp.com/piscinasenpanama.com/wp-content/uploads/2021/08/mantenimiento-de-piscinas-panama.png?resize=345%2C229&ssl=1"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Yosemite National Park"
    />
  </div>
</div>
<!-- Gallery -->