@page
@model FrontEnd.Models.IniciarSesionViewModel;


<h1>Iniciar sesión</h1>

<form method="post" asp-page-handler="Login">
    <div>
        <label for="Correo">Correo:</label>
        <input type="text" id="Email" name="Correo" required>
    </div>
    <div>
        <label for="Contrasena">Contraseña:</label>
        <input type="password" id="Password" name="Contrasena" required>
    </div>
    <button type="submit">Iniciar sesión</button>
</form>

<div>
    <p>¿No tienes una cuenta?</p>
    <a asp-controller="Auth" asp-action="Registrar">Crear una cuenta</a>
</div>